*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    color: #010101;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}
img{
    width: 100%;
    display: block;
 }

 .slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
    color: transparent;
    outline: none;
    background: transparent;
  }
 /*
.new-year{
    color: transparent;
    -webkit-text-stroke: 2px white;
    
}
.slider {
    width: 50%;
    margin: 100px auto;
}

.slick-slide {
  margin: 0px 20px;
}



.slick-prev:before,
.slick-next:before {
  color: black;
}


.slick-slide {
  transition: all ease-in-out .3s;
  opacity: .2;
}

.slick-active {
  opacity: .5;
}

.slick-current {
  opacity: 1;
} */
